.app {
  height: 100vh;
  padding: 1rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
  flex-direction: row;
}


/* @media (max-width:560px){
  .app {
    flex-direction: column-reverse;
  }
  
} */